In [2]:
import json
import pandas as pd
with open("./pitches.json") as f:
    j = json.load(f)

def prepare(arr):
    for page in arr:
        try:
            yield {"src_url": page["src_url"], "url": page["url"]["href"], **page["initialState"]["opportunity"]["opportunity"]}
        except:
            print("failed at ", page["url"]["href"])


data = prepare(j)
cc_full = pd.json_normalize(data)

In [7]:
cc_full[""].dropna()

4       <p><strong>Zeev Fisher, CEO and co-founder</st...
6       <p>Our experienced senior management team comp...
8       <p>Kitemill has 13 employees & 7 consultants, ...
10      <p>Founded by a Registrar in a Devon Hospital,...
13      <p><b>About VCTs</b></p><p>VCTs were introduce...
                              ...
1233    <p>Led by a senior leadership team that hails ...
1234    <p>Led by a senior leadership team that hails ...
1235    <p>Crowdcube’s co-founders, <strong>Darren Wes...
1236    <p><strong>Jane Ni Dhulchaointigh, CEO</strong...
1237    <p>With a team that includes people from Googl...
Name: the_people.content, Length: 1206, dtype: object

In [8]:
pd.read_csv("../data/adjusted/team_members.csv")

,project_id,dates.funded,first_name,id,index,job_title,last_name,linkedin_url,photo_url,role_id
0,lKnKBq,2023-06-12 08:29:49,Oz,EbMN5q,0,Co-Founder & CEO,Oboh,https://www.linkedin.com/in/osajie-oboh-b5291a...,https://files-crowdcube-com.s3.amazonaws.com/f...,1
1,lKnKBq,2023-06-12 08:29:49,Louis,9Z7yNq,1,Co-Founder & COO,Angel Scott,https://www.linkedin.com/in/louis-angel-scott/,https://files-crowdcube-com.s3.amazonaws.com/f...,1
2,lKnKBq,2023-06-12 08:29:49,James,PbvgGq,2,Head of Finance,Crowson,https://www.linkedin.com/in/james-crowson-8409...,https://files-crowdcube-com.s3.amazonaws.com/f...,1
3,lKnKBq,2023-06-12 08:29:49,Dorian,ebw88q,3,Advisor,Waite,https://www.linkedin.com/in/dorian-waite-9207b...,https://files-crowdcube-com.s3.amazonaws.com/f...,2
4,lKnKBq,2023-06-12 08:29:49,Philip,XlEVaZ,4,Advisor,Raub,https://www.linkedin.com/in/praub/,https://files-crowdcube-com.s3.amazonaws.com/f...,2
...,...,...,...,...,...,...,...,...,...,...
95,bwL9Jq,2023-06-22 12:23:57,Adam,KbVxVl,95,Founder and CEO,Dodds,https://www.linkedin.com/in/adamdodds,https://files-crowdcube-com.s3.amazonaws.com/f...,1
96,bwL9Jq,2023-06-22 12:23:57,Viktor,4qn9Bb,96,Founder and COO,Nebehaj,https://www.linkedin.com/in/viktornebehaj,https://files-crowdcube-com.s3.amazonaws.com/f...,1
97,bwL9Jq,2023-06-22 12:23:57,Shahid,elejzZ,97,CTO,Naveed,https://www.linkedin.com/in/shahidnaveed,https://files-crowdcube-com.s3.amazonaws.com/f...,1
98,bwL9Jq,2023-06-22 12:23:57,Paul,2bdoAZ,98,CFO,Brooking,https://www.linkedin.com/in/paul-brooking-2a61...,https://files-crowdcube-com.s3.amazonaws.com/f...,1
99,bwL9Jq,2023-06-22 12:23:57,James,6qa8mb,99,VP Product,Bell,https://www.linkedin.com/in/james-bell-95754622,https://files-crowdcube-com.s3.amazonaws.com/f...,1

<h1> Extract team from unstructured text</h1>

In [4]:
queries = cc_full[["id","the_people.content"]].dropna(subset="the_people.content").reset_index(drop=True).set_axis(["id","query"],axis=1)
queries

          id                                              query
0     qaE20q  <p><strong>Zeev Fisher, CEO and co-founder</st...
1     qr9P5b  <p>Our experienced senior management team comp...
2     bk8kGq  <p>Kitemill has 13 employees & 7 consultants, ...
3     lR0zOb  <p>Founded by a Registrar in a Devon Hospital,...
4     b2owpq  <p><b>About VCTs</b></p><p>VCTs were introduce...
...      ...                                                ...
1201  qno1vl  <p>Led by a senior leadership team that hails ...
1202  qD0nPq  <p>Led by a senior leadership team that hails ...
1203  lOPYXZ  <p>Crowdcube’s co-founders, <strong>Darren Wes...
1204  bgNOBZ  <p><strong>Jane Ni Dhulchaointigh, CEO</strong...
1205  l8nrkb  <p>With a team that includes people from Googl...

[1206 rows x 2 columns]

In [198]:
import os
os.environ["OPENAI_API_KEY"] = "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"

In [199]:
from langchain.chat_models import ChatOpenAI
from langchain.chains import create_extraction_chain

# 1. define the schema to extract data based on
schema = {
        "properties": {
            "Person Name": {"type": "string"},
            "Job Title": {"type": "string"},
            "Experience": {"type": "string"},
        },
        "required": ["Name", "Job Title", "Experience"]
}
# 1. define the schema to extract data based on

# 2. define the LLM and chain to use
llm = ChatOpenAI(temperature=0, model="gpt-3.5-turbo")
chain = create_extraction_chain(schema, llm)

#result = chain.run(query)
#query = text

In [204]:
from tqdm import tqdm
import pandas as pd

docs = cc_full["the_people.content"].dropna().reset_index(drop=True)

try:
    extracted = pd.read_pickle("./extracted.pkl") 
    docs = docs[~docs.isin(extracted.input)]
except:
    extracted = pd.DataFrame()

max_batch_size = 20
intervals = list(range(0,len(docs),max_batch_size)) + [len(docs)]
for i in tqdm(range(len(intervals)-1)):
    queries = docs.iloc[intervals[i]:intervals[i+1]].to_list()
    batch = pd.DataFrame(chain.batch(queries,return_exceptions=True))
    if len(batch.columns)!=2:
        print(batch)
        raise
    else:
        extracted = pd.concat([extracted,batch])
        extracted.to_pickle("./extracted.pkl")
extracted

100%|██████████| 60/60 [25:28<00:00, 25.47s/it]

,input,text
0,"<p><strong>Zeev Fisher, CEO and co-founder</st...","[{'Person Name': 'Zeev Fisher', 'Job Title': '..."
1,<p>Our experienced senior management team comp...,"[{'Person Name': 'Karthik Velayutham', 'Job Ti..."
2,"<p>Kitemill has 13 employees & 7 consultants, ...","[{'Person Name': 'Thomas Hårklau', 'Job Title'..."
3,"<p>Founded by a Registrar in a Devon Hospital,...","[{'Person Name': 'Iain Menneer', 'Job Title': ..."
4,<p><b>About VCTs</b></p><p>VCTs were introduce...,"[{'Person Name': 'UK government', 'Job Title':..."
...,...,...
1,<p>Led by a senior leadership team that hails ...,"[{'Person Name': 'senior leadership team', 'Jo..."
2,<p>Led by a senior leadership team that hails ...,"[{'Person Name': 'Viktor Nebehaj', 'Job Title'..."
3,"<p>Crowdcube’s co-founders, <strong>Darren Wes...","[{'Person Name': 'Darren Westlake', 'Job Title..."
4,"<p><strong>Jane Ni Dhulchaointigh, CEO</strong...","[{'Person Name': 'Jane Ni Dhulchaointigh', 'Jo..."
5,<p>With a team that includes people from Googl...,"[{'Person Name': 'Darren Westlake', 'Job Title..."

In [3]:
import pandas as pd
teams = pd.read_pickle("./extracted.pkl").reset_index(drop=True)
person = teams.text.explode()
teams = person.map(lambda x:x["Person Name"],na_action="ignore").groupby(level=0).apply(set).apply(list)
teams

0       [Julian Lowe, Amir Zemer, Elad Nahmias, Ilan D...
1       [Dougald Middleton, Vijay Madlani, John Leahy,...
2       [Asgeir Lono, Thomas Hårklau, Alfred van den B...
3       [Luke Rawlinson, Darren Barrett, Steve Wileman...
4       [Crowdcube, Octopus, UK government, Associatio...
                              ...
1201    [senior leadership team, Cubers, Viktor Nebeha...
1202      [Viktor Nebehaj, Peter O'Higgins, Nicolas Cary]
1203    [Bill Simmons, Simon Cook, Tim Draper, Luke La...
1204    [Simon Campbell, Laure de Brauer, Paraic Begle...
1205    [Bill Simmons, Simon Cook, Paul Massey, Tim Dr...
Name: text, Length: 1206, dtype: object

In [42]:
teams.map(len).argmax()

486

['Boris Zhelev',
 'Marcus Jupiter (Part-Time)',
 'Dr PJ Stephenson, PhD',
 'David Inkpen',
 'Olivia Crowe',
 'Banashree Thapa',
 'Dr Sarobidy Rakotonarivo PhD',
 'Lorenzo Curci',
 'Dr Hannah Reid PhD',
 'Rosie Dunscombe FCA',
 'Prof. J. Boone Kauffman',
 'Dr Cornelia Rumpel PhD',
 'Mariana Delgardo',
 'Iris Beswick',
 'Oliver Bolton',
 'Chris Zganjar',
 'Andras Dako',
 'Dr David Ganz, PhD']