In [ ]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) #annyoing false deprecaction warning for .apply(pd.Series)

In [ ]:
import os
os.environ["OPENAI_API_KEY"] = "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"

<h1> Clean unstructured text</h1>

In [353]:
cols = ['name', 'id', 'description', 'headline.headline_offer', 'the_idea.content']
df_full = pd.read_csv("../data/adjusted/clean_full.csv")
df_full.id.fillna(df_full.name + "_" + df_full.groupby(['name']).cumcount().map(str),inplace=True) #handle missing ids
df = df_full[cols]
df.head()

,name,id,description,headline.headline_offer,the_idea.content
0,CUTBOX,lKnKBq,Cutbox is on a mission to become one of the do...,This Crowdcube round forms part of a wider fun...,From Starbucks for a caffeine fix to Apple for...
1,Hooked Foods,bJ1kdZ,Today 33% species are overfished and 60% of fi...,This Crowdcube round forms part of a wider fun...,"While seafood consumption is growing, marine e..."
2,Mapal Aeration Solutions,qaE20q,Regulations require all municipal and industri...,NaN,Millions of dollars are wasted each year throu...
3,Move Technologies Group Ltd,bvLKxl,NaN,NaN,NaN
4,Move Technologies Group Ltd,q4Mwol,NaN,NaN,NaN

In [354]:
#join all highlights
hl = pd.read_csv("../data/adjusted/highlights.csv")[["project_id","highlight"]]
hl = hl.groupby("project_id")["highlight"].agg("\n".join)
hl.head()

project_id
Z14oWl     54% of 5m UK micro-businesses still operate w...
Z1E1rZ    Initial £25k funding received from Virgin Star...
Z1ENxZ    Kickstarter target reached in just 3 days sell...
Z1Eg0Z    Jeeni aspires to be part of the most profitabl...
Z1JK2b    Incorporated 2015, £18k profit in 2017/18, 60%...
Name: highlight, dtype: object

In [355]:
#join all qas
qa = pd.read_csv("../data/adjusted/faqs.csv")[["project_id","question","answer"]]
qa["text"] = qa.iloc[:,1:].agg("\n".join,axis=1)
qa = qa.groupby("project_id")["text"].agg("\n".join)
qa.head()

project_id
Z1X1gl    Who do we count as a Curve customer?\nA Curve ...
Z1X5gl    The company has loans\nThe loans will be revie...
Z1X6Wl    Survey turnaround times\nIt takes on average 1...
Z1X93l    The company has loans\nThe loans will be revie...
Z1XX0l    How has the potential distribution to 3m athle...
Name: text, dtype: object

In [356]:
#str.join all columns but id/name
texts_per_project = pd.merge(df,pd.merge(hl,qa,left_index=True,right_index=True,how="outer"),left_on="id",right_index=True,how="outer")
texts_per_project["text"] = texts_per_project.iloc[:,2:].fillna("").agg("\n".join,axis=1)
texts_per_project = texts_per_project[["name","id","text"]]
texts_per_project.head()

,name,id,text
0,CUTBOX,lKnKBq,Cutbox is on a mission to become one of the do...
1,Hooked Foods,bJ1kdZ,Today 33% species are overfished and 60% of fi...
2,Mapal Aeration Solutions,qaE20q,Regulations require all municipal and industri...
3,Move Technologies Group Ltd,bvLKxl,\n\n\n\n
4,Move Technologies Group Ltd,q4Mwol,\n\n\n\n

<h1> Extract VC backing, Awards and Endorsement from unstructured text</h1>

https://github.com/langchain-ai/langchain/blob/master/libs/langchain/langchain/chains/openai_functions/extraction.py#L9

https://python.langchain.com/docs/use_cases/extraction#looking-under-the-hood 

https://python.langchain.com/docs/integrations/chat/anthropic_functions#using-for-extraction

In [357]:
from langchain.chat_models import ChatOpenAI
from langchain.chains import create_extraction_chain

schema = {
        "properties": {
            #vc backing
            "received_venture_capital_backing": {"type": "boolean"},
            "venture_capital_backer": {"type": "string"},
            "venture_capital_backing_amount": {"type": "string"},
            #awards
            "received_any_awards": {"type": "boolean"},
            "award_name": {"type": "string"},
            #endorsement
            "received_media_coverage_and_endorsement": {"type": "boolean"},
            "media_coverage_and_endorsement": {"type": "string"},
        },
}
llm = ChatOpenAI(temperature=0, model="gpt-3.5-turbo",)
chain =  create_extraction_chain(schema, llm,verbose=False)
#result = chain.batch(query[:].tolist())

In [358]:
from tqdm import tqdm
import time

docs = texts_per_project.text

try:
    extracted = pd.read_pickle("./extracted_texts.pkl") 
    docs = docs[~docs.isin(extracted.input)]
except:
    extracted = pd.DataFrame()

max_batch_size = 30
intervals = list(range(0,len(docs),max_batch_size)) + [len(docs)]
for i in tqdm(range(len(intervals)-1)):
    queries = docs.iloc[intervals[i]:intervals[i+1]].to_list()
    batch = pd.DataFrame(chain.batch(queries,return_exceptions=True))
    if len(batch.columns)!=2: # 
        print(batch)
        raise
    else:
        extracted = pd.concat([extracted,batch])
        extracted.to_pickle("./extracted_texts.pkl")#just in case it crashes save the batch
    time.sleep(30)#better would be exp. backoff but does not easily work with batch
extracted

0it [00:00, ?it/s]

,input,text
0,Cutbox is on a mission to become one of the do...,"{'received_venture_capital_backing': True, 've..."
1,Today 33% species are overfished and 60% of fi...,"{'received_venture_capital_backing': True, 've..."
2,Regulations require all municipal and industri...,"{'received_venture_capital_backing': False, 'v..."
0,\n\n\n\n,"{'received_venture_capital_backing': True, 've..."
1,\n\n\n\n,"{'received_venture_capital_backing': True, 've..."
...,...,...
19,Software as a Service (SaaS) business for Recr...,"{'received_venture_capital_backing': False, 'v..."
20,"With >1.2m members & £1bn invested, together w...","{'received_venture_capital_backing': True, 've..."
21,"With >1.2m members & £1bn invested, together w...","{'received_venture_capital_backing': True, 've..."
22,"The leading equity crowdfunding platform, Crow...","{'received_venture_capital_backing': True, 've..."
23,Crowdcube is the UK's first and leading equity...,"{'received_venture_capital_backing': True, 've..."

In [359]:
extracted = extracted.drop_duplicates(subset="input")
flat = extracted["text"].apply(pd.Series)
flat = pd.concat([extracted,flat],axis=1).drop(columns="text")
flat = flat[flat.iloc[:,-1].isna()]
flat = flat.dropna(how="all",axis=1).fillna("")
variables_per_project = texts_per_project.merge(flat,left_on="text",right_on="input").drop(columns="input")
variables_per_project

,name,id,text,received_venture_capital_backing,venture_capital_backer,venture_capital_backing_amount,received_any_awards,award_name,received_media_coverage_and_endorsement,media_coverage_and_endorsement
0,CUTBOX,lKnKBq,Cutbox is on a mission to become one of the do...,True,Fuel Ventures,unknown,False,,False,
1,Hooked Foods,bJ1kdZ,Today 33% species are overfished and 60% of fi...,True,"Oysterbay, Big Idea Ventures & Brightly",5M€,False,,False,
2,Mapal Aeration Solutions,qaE20q,Regulations require all municipal and industri...,False,,,False,,False,
3,Move Technologies Group Ltd,bvLKxl,\n\n\n\n,True,ABC Ventures,$10 million,False,,True,Featured in TechCrunch
4,Move Technologies Group Ltd,q4Mwol,\n\n\n\n,True,ABC Ventures,$10 million,False,,True,Featured in TechCrunch
...,...,...,...,...,...,...,...,...,...,...
1590,Kammerling's Investment Holdings Ltd,Kammerling's Investment Holdings Ltd_0,Kammerlings Ltd launched its unique 33% abv gi...,False,,,False,,False,
1591,Kammerling's,Kammerling's_0,Kammerling’s is a totally new kind of alcoholi...,False,,,False,,False,
1592,The Rushmore Group Ltd,The Rushmore Group Ltd_0,The Rushmore Group Ltd is the parent company o...,False,,,False,,False,
1593,The Rushmore Group Ltd - Extended offer,The Rushmore Group Ltd - Extended offer_0,PLEASE NOTE: This is a private offer seeking t...,False,,,False,,False,
1594,The Rushmore Group Ltd,The Rushmore Group Ltd_1,The Rushmore Group is the well-established own...,False,,,False,,False,

# 2- ESG calculation

In [360]:
#source: https://sustainableentrepreneurship.org/ 
# import required packages
import pandas as pd
import numpy as np
import re
from cleantext import clean # install via: pip install clean-text

#import the word-lists
ESGwordlist= pd.read_csv('https://www.dropbox.com/s/e28dihonntg8o82/expanded_dict.csv?dl=1')
e = [x.replace('_',' ') for x in list(ESGwordlist['E'].dropna())]
s = [x.replace('_',' ') for x in list(ESGwordlist['S'].dropna())]
g = [x.replace('_',' ') for x in list(ESGwordlist['G'].dropna())]
# required methods

def get_ngrams(s, n):
    '''
    tokenize an input text 
    source: https://albertauyeung.github.io/2018/06/03/generating-ngrams.html
    '''
    # Convert to lowercases
    s = s.lower()
    
    # Replace all none alphanumeric characters with spaces
    s = re.sub(r'[^a-zA-Z0-9\s]', ' ', s)
    
    # Break sentence in the token, remove empty tokens
    tokens = [token for token in s.split(" ") if token != ""]
    
    # Use the zip function to help us generate n-grams
    # Concatentate the tokens into ngrams and return
    ngrams = zip(*[tokens[i:] for i in range(n)])
    return [" ".join(ngram) for ngram in ngrams]


def cleaner(txt):    
    '''
    Clean the input text
    '''
    return clean(
        txt,
        fix_unicode=True,               # fix various unicode errors
        to_ascii=True,                  # transliterate to closest ASCII representation
        lower=True,                     # lowercase text
        no_line_breaks=True,           # fully strip line breaks as opposed to only normalizing them
        no_urls=True,                  # replace all URLs with a special token
        no_emails=True,                # replace all email addresses with a special token
        no_phone_numbers=True,         # replace all phone numbers with a special token
        no_numbers=True,                # replace all numbers with a special token
        no_digits=True,                 # replace all digits with a special token
        no_currency_symbols=True,      # replace all currency symbols with a special token
        no_punct=True,                 # remove punctuations
        replace_with_punct="",          # instead of removing punctuations you may replace them
        replace_with_url="",
        replace_with_email="",
        replace_with_phone_number="",
        replace_with_number="",
        replace_with_digit="",
        replace_with_currency_symbol="",
        lang="en"                       # set to 'de' for German special handling
        )


def ESG_Calculator(text):
    '''
    return the ESG scores for an input text
    '''
    try:      
        text=re.sub('[\\n]','',text)
        text=get_ngrams(text,1)+get_ngrams(text,2)+get_ngrams(text,3)+get_ngrams(text,4)
        counts=[]
        counts= [text.count(x) for x in e]
        e_Freq=sum(counts) 
        e_Diversity = len([x for x in counts if x!=0])    
        counts= [text.count(x) for x in s]
        s_Freq=sum(counts) 
        s_Diversity = len([x for x in counts if x!=0])            
        counts= [text.count(x) for x in g]
        g_Freq=sum(counts) 
        g_Diversity = len([x for x in counts if x!=0])    
        esg_Diversity= e_Diversity/len(e) +s_Diversity/len(s) +g_Diversity/len(g)
        return (esg_Diversity,(e_Diversity/len(e)),(s_Diversity/len(s)),(g_Diversity/len(g)))
    except Exception as ex:
        print(ex)
        return (0,0,0,0)

In [361]:
texts_per_project

,name,id,text
0,CUTBOX,lKnKBq,Cutbox is on a mission to become one of the do...
1,Hooked Foods,bJ1kdZ,Today 33% species are overfished and 60% of fi...
2,Mapal Aeration Solutions,qaE20q,Regulations require all municipal and industri...
3,Move Technologies Group Ltd,bvLKxl,\n\n\n\n
4,Move Technologies Group Ltd,q4Mwol,\n\n\n\n
...,...,...,...
1591,Kammerling's Investment Holdings Ltd,Kammerling's Investment Holdings Ltd_0,Kammerlings Ltd launched its unique 33% abv gi...
1592,Kammerling's,Kammerling's_0,Kammerling’s is a totally new kind of alcoholi...
1593,The Rushmore Group Ltd,The Rushmore Group Ltd_0,The Rushmore Group Ltd is the parent company o...
1594,The Rushmore Group Ltd - Extended offer,The Rushmore Group Ltd - Extended offer_0,PLEASE NOTE: This is a private offer seeking t...
1595,The Rushmore Group Ltd,The Rushmore Group Ltd_1,The Rushmore Group is the well-established own...

In [367]:
esgs = pd.DataFrame.from_records(texts_per_project.text.map(ESG_Calculator),columns=["ESG","E","S","G"])
esg_per_project = pd.concat([texts_per_project,esgs],axis=1)
esg_per_project.head()

,name,id,text,ESG,E,S,G
0,CUTBOX,lKnKBq,Cutbox is on a mission to become one of the do...,0.011953,0.000000,0.004320,0.007634
1,Hooked Foods,bJ1kdZ,Today 33% species are overfished and 60% of fi...,0.017859,0.005906,0.004320,0.007634
2,Mapal Aeration Solutions,qaE20q,Regulations require all municipal and industri...,0.029801,0.013780,0.006479,0.009542
3,Move Technologies Group Ltd,bvLKxl,\n\n\n\n,0.000000,0.000000,0.000000,0.000000
4,Move Technologies Group Ltd,q4Mwol,\n\n\n\n,0.000000,0.000000,0.000000,0.000000

<h1> Export

In [368]:
from functools import reduce
final = reduce(lambda  left,right: pd.merge(left,right,on=['name',"id"]), [df_full,esg_per_project,variables_per_project])
final.head()

,id,name,url,Date,dates.activated,dates.funded,dates.closed,investment.current,investment.current_adj_EUR,investment.maximum,...,S,G,text_y,received_venture_capital_backing,venture_capital_backer,venture_capital_backing_amount,received_any_awards,award_name,received_media_coverage_and_endorsement,media_coverage_and_endorsement
0,lKnKBq,CUTBOX,https://www.crowdcube.eu/companies/cutbox-barb...,2023-12-06,2023-06-09 13:41:14,2023-06-12 08:29:49,2023-07-05 00:15:06,491242.90,573359.44,400000.0,...,0.004320,0.007634,Cutbox is on a mission to become one of the do...,True,Fuel Ventures,unknown,False,,False,
1,bJ1kdZ,Hooked Foods,https://www.crowdcube.eu/companies/hooked-food...,2023-06-13,2023-06-13 09:16:28,2023-06-13 09:22:30,2023-07-01 00:15:11,638736.61,638736.61,560000.0,...,0.004320,0.007634,Today 33% species are overfished and 60% of fi...,True,"Oysterbay, Big Idea Ventures & Brightly",5M€,False,,False,
2,qaE20q,Mapal Aeration Solutions,https://www.crowdcube.eu/companies/mapal-aerat...,2023-06-13,2023-05-03 13:48:47,2023-06-13 18:50:45,2023-06-21 00:15:08,463814.41,540261.40,400000.0,...,0.006479,0.009542,Regulations require all municipal and industri...,False,,,False,,False,
3,bvLKxl,Move Technologies Group Ltd,https://www.crowdcube.eu/companies/move-techno...,2023-09-06,NaN,2023-06-09 08:17:41,2023-06-09 08:17:41,57200.00,66670.55,100.0,...,0.000000,0.000000,\n\n\n\n,True,ABC Ventures,$10 million,False,,True,Featured in TechCrunch
4,q4Mwol,Move Technologies Group Ltd,https://www.crowdcube.eu/companies/move-techno...,2023-09-06,NaN,2023-06-09 07:48:28,2023-06-09 07:48:28,932850.00,1087301.12,100.0,...,0.000000,0.000000,\n\n\n\n,True,ABC Ventures,$10 million,False,,True,Featured in TechCrunch

In [388]:
only_augmented = final[[
"name",
"id", 
 'text_x',
'ESG',
 'S',
 'E',
 'G',
 'received_venture_capital_backing',
 'venture_capital_backer',
 'venture_capital_backing_amount',
'received_any_awards',
 'award_name',
 'media_coverage_and_endorsement',
 'received_media_coverage_and_endorsement',]].rename({"text_x":"text"},axis=1)
only_augmented

,name,id,text,ESG,S,E,G,received_venture_capital_backing,venture_capital_backer,venture_capital_backing_amount,received_any_awards,award_name,media_coverage_and_endorsement,received_media_coverage_and_endorsement
0,CUTBOX,lKnKBq,Cutbox is on a mission to become one of the do...,0.011953,0.004320,0.000000,0.007634,True,Fuel Ventures,unknown,False,,,False
1,Hooked Foods,bJ1kdZ,Today 33% species are overfished and 60% of fi...,0.017859,0.004320,0.005906,0.007634,True,"Oysterbay, Big Idea Ventures & Brightly",5M€,False,,,False
2,Mapal Aeration Solutions,qaE20q,Regulations require all municipal and industri...,0.029801,0.006479,0.013780,0.009542,False,,,False,,,False
3,Move Technologies Group Ltd,bvLKxl,\n\n\n\n,0.000000,0.000000,0.000000,0.000000,True,ABC Ventures,$10 million,False,,Featured in TechCrunch,True
4,Move Technologies Group Ltd,q4Mwol,\n\n\n\n,0.000000,0.000000,0.000000,0.000000,True,ABC Ventures,$10 million,False,,Featured in TechCrunch,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1590,Kammerling's Investment Holdings Ltd,Kammerling's Investment Holdings Ltd_0,Kammerlings Ltd launched its unique 33% abv gi...,0.002160,0.002160,0.000000,0.000000,False,,,False,,,False
1591,Kammerling's,Kammerling's_0,Kammerling’s is a totally new kind of alcoholi...,0.000000,0.000000,0.000000,0.000000,False,,,False,,,False
1592,The Rushmore Group Ltd,The Rushmore Group Ltd_0,The Rushmore Group Ltd is the parent company o...,0.003877,0.000000,0.001969,0.001908,False,,,False,,,False
1593,The Rushmore Group Ltd - Extended offer,The Rushmore Group Ltd - Extended offer_0,PLEASE NOTE: This is a private offer seeking t...,0.000000,0.000000,0.000000,0.000000,False,,,False,,,False
1594,The Rushmore Group Ltd,The Rushmore Group Ltd_1,The Rushmore Group is the well-established own...,0.001969,0.000000,0.001969,0.000000,False,,,False,,,False

In [396]:
only_augmented.to_csv("../data/adjusted/augmented_only.csv")

In [395]:
final.drop(columns="text_y").rename({"text_x":"text"},axis=1).to_csv("../data/adjusted/augmented_full.csv")